<h1>Tutorials</h1>
<div class= 'container'>
 <p><%= link_to "Create Class", cooking_tutorial_path('new'),class: 'btn btn-primary' %></p>
<% @cooking_tutorials.each do |t| %>
<div class="card-product">
  <img src="https://www.nhlbi.nih.gov/sites/default/files/styles/16x9_crop/public/2025-03/Ultraprocessed%20foods%20display%202%20framed%20-%20shutterstock_2137640529_r.jpg?h=ab94ba44&itok=yrOIN-8T" />
  <div class="card-product-infos">
    <h2><strong><%= t.title %></strong> </h2>
    <p><%= t.description %></p>
  <p><%= link_to "Find out more", cooking_tutorial_path(t.id) %>
 </p>
  </div>
</div>
<% end %>
</div>
